<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include templates/header.ejs  %>
    <h1><%= title %></h1>
    <h3>This is my About page.</h3>
  </body>
</html>
